.message-box{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 230px;
    background-color: white;
    height: 45px;
    position: fixed;
    right: 5%;
    top: 10%;
    border-radius: 4px;
}
.message{
    background-color: greenyellow;
    height: 100%;
    position: relative;
    transition: all 1s linear;
}
.message p{
    position: absolute;
    left: 1px;
    width: 230px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    font-size: 14px;    
}